.card-container{
    box-shadow:  4px 4px 4px 4px rgba(0,0,0,.25);
    border: solid 3px #80130F;
    background-color: whitesmoke;
    
    padding: 20px;
    border-radius: 10px;

    .info{
        text-align: left;
        width: 300px;
        .dimensions{
            span{
                font-weight: 900;
            }
        }
        .description{
            
            margin: auto;
            span{
                font-weight: 900;
            }
        }
    }
}