.index-view{
    display: flex;
    flex-direction: row;
    flex: left;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-evenly;
    padding-top: 20px;
    gap: 30px;
}